<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
  <%= link_to '#', class: 'pull-left' do %>
    <%= image_tag(comment.user.avatar.small.url) if comment.user.avatar? %>
  <% end %>
  <fieldset>
    <div class="span8">
      <div class="well">
      <small>
        <%= comment.user.name %>
      </small>
        <p><%= comment.body %></p>
      </div>
    </div>
    <% if can? :destroy, comment %>
      <%= link_to "Delete", comment_url_helper(comment), method: :delete %>
    <% end %>
  </fieldset>
<% end %>