<!DOCTYPE html>
<html>
  <head>
    <title>Bloccit</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>

      <%= yield %>
      <!-- by putting yield it directs to app/views/welcome directory, where you can set diffirent tags or how ever you want your site to look like-->
  </div>

  </body>
</html>
